# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
    -   id: end-of-file-fixer
        exclude_types: [diff]
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: .ko$
-   repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
    -   id: black
        args: [--line-length=79]
-   repo: https://github.com/pycqa/flake8
    rev: "6.1.0"
    hooks:
    -   id: flake8
        args: ["--ignore=E203,W503,E501"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.4.1"
    hooks:
    -   id: mypy
        additional_dependencies:
        -   types-setuptools
        -   types-paramiko
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.10.0
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
    -   id: vermin
        args: ['-t=3.6-', '--violations', '--backport', 'dataclasses', '--eval-annotations']
-   repo: https://github.com/leoll2/copyright_notice_precommit
    rev: 0.1.1
    hooks:
    -   id: copyright-notice
        exclude: man/.*\.\d.*
        args: [--notice=.header.txt]
