#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use text-based install
text
# After finishing, poweroff
poweroff
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

repo --name="OptionalLatest" --baseurl=http://yum.oracle.com/repo/OracleLinux/OL7/optional/latest/x86_64/
repo --name="UEK4" --baseurl=http://yum.oracle.com/repo/OracleLinux/OL7/UEKR4/x86_64/
# Use network installation
url --url="http://yum.oracle.com/repo/OracleLinux/OL7/latest/x86_64/"
# Root password
rootpw password
# System services
services --disabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools
tar

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
